.thebelab-input {
  display: none;
}
.thebelab-cell {
  border: none !important;
}

.thebelab-button {
  margin-right: 10px;
}

.btn {
  margin-right: 10px;
}

.bg-kov-orange {
  background-color: orange;
}

.bg-kov-light-green {
  background-color: lightgreen;
}

.color-kov-gray {
  color: gray !important;
}

.jp-Stdin-prompt {
  display: none !important;
}

.comment-content-widget {
  white-space: nowrap;
  /* visibility: hidden !important; */
  background-color: #5e82a4;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 12px;
  margin-left: 200px;
  /* box-shadow: 0 8px 16px 0 rgba(94, 130, 164, 0.3); */
}

.grayout-content-widget {
  white-space: nowrap;
  /* visibility: hidden !important; */
  background-color: #5e82a4;
  padding: 2px 10px;
  border-radius: 2px;
  margin-left: 0px;
  font-family: 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  color: gray;
}

.correct-ex-content-widget {
  white-space: nowrap;
  /* visibility: hidden !important; */
  background-color: lightskyblue;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 12px;
  margin-left: 200px;
  /* box-shadow: 0 8px 16px 0 rgba(94, 130, 164, 0.3); */
}
