@font-face {
  font-family: "Source Han Mono";
  src: url("./SourceHanMono-Normal.woff2") format("woff2"),
    url("./SourceHanMono-Normal.woff") format("woff");
}

body {
  font-family: 'Source Han Mono', 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
}

div, span {
  font-family: 'Source Han Mono', 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
}

/* .view-overlays *,
.view-overlays.focused {
  font-family: 'Source Han Mono', 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
} */

.hidden {
  display: none;
}

.thebelab-input {
  display: none;
}

.thebelab-cell {
  border: none !important;
}

.thebelab-button {
  margin-right: 10px;
}

.btn {
  margin-right: 10px;
}

.bg-kov-orange {
  background-color: orange;
}

.bg-kov-light-green {
  background-color: #eeffee;
}

.color-kov-gray {
  color: #c0c0c0 !important;
}

.jp-Stdin-prompt {
  display: none !important;
}

.comment-content-widget {
  white-space: nowrap;
  background-color: lightskyblue;
  color: #fff;
  padding: 0px 10px;
  border-radius: 2px;
  font-size: 12px;
  margin-left: 200px;
}

.grayout-content-widget {
  white-space: nowrap;
  background-color: #5e82a4;
  padding: 0px 10px;
  border-radius: 2px;
  margin-left: 0px;
  font-family: 'Source Han Mono', 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: gray;
}

.correct-ex-content-widget {
  white-space: nowrap;
  background-color: lightskyblue;
  color: #fff;
  padding: 0px 10px;
  border-radius: 2px;
  font-size: 12px;
  margin-left: 200px;
}

.ex-content-widget {
  /* opacity: 0; */
  margin-left: 0px;
  box-sizing: border-box;
  color: gray;
  cursor: text;
  display: inline;
  font-family: 'Source Han Mono', 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
  font-feature-settings: 'liga'0, 'calt'0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 18px;
  text-align: left;
  text-size-adjust: 100%;
  user-select: none;
  white-space: nowrap;
  left: 0;
}

.ww-content-widget {
  margin-left: 0px;
  box-sizing: border-box;
  color: gray;
  cursor: text;
  display: inline;
  font-family: 'Source Han Mono', 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback';
  font-feature-settings: 'liga'0, 'calt'0;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  text-align: left;
  text-size-adjust: 100%;
  user-select: none;
  white-space: nowrap;
  left: 0;
}

.btn>label {
  margin-bottom: 0px !important;
}

.monaco-editor .view-lines div span,
.monaco-editor.line-numbers {
  font-family: 'Source Han Mono', 'Droid Sans Mono', monospace, monospace, 'Droid Sans Fallback' !important;
}
