.thebelab-input {
  display: none;
}
.thebelab-cell {
  border: none !important;
}

.thebelab-button {
  margin-right: 10px;
}

.btn {
  margin-right: 10px;
}

.bg-kov-orange {
  background-color: orange;
}

.color-kov-gray {
  color: gray !important;
}
